body {
    background-color: rgb(232, 232, 232);
}

#titulo {
    background-color: rgb(155, 242, 147);
    padding: 25px;
    margin-bottom: 1vw;
}

.fundo {
    font-size: 2.5vh;
    box-shadow: 1px 1px 10px rgb(0, 0, 0);
    margin: -0vh -10vh;
    padding: 5vh;
    background-color: rgb(201, 236, 197);
    margin-bottom: 2vw;
}

.espacoCampos {
    margin-top: 2vw;
}

#titulo1 {
    font-weight: bold;
    margin-top: 2vh;
    margin-bottom: 5vh;
}

#titulo2 {
    font-weight: bold;
    margin-top: 5vh;
    margin-bottom: 5vh;
}

#caixaTexto {
    height: 200px;

}

#botoes {
    margin-top: 4vw;
}

#salvar {
    background-color: rgb(90, 255, 101);
    color: black;
    border: none;
    font-weight: bold;
}

#limpar {
    font-weight: bold;
}