body {
    background-color: rgb(232, 232, 232);
}
#cabecalho {
    background-color: rgb(198, 252, 192);
    padding: 30px;
    box-shadow: 1px 1px 10px rgb(13, 83, 27)
}

#titulo {
    margin-top: 1vw;
    padding: 20px;
    background-color: rgb(124, 255, 135);
    margin-left: 16vw;
    width: 68vw;
    box-shadow: 1px 1px 10px rgb(0, 0, 0)
}

#aviso {
    background-color: rgb(200, 255, 201);
    color: rgb(39, 90, 36);
    padding: 10px;
    border: 2px rgb(200, 255, 201);;
    border-radius: 10px;
    margin-bottom: -1vw;
    box-shadow: 1px 1px 10px rgb(0, 0, 0)
}
#aviso h4 {
    margin-top: 0.5vw;
}

#formulario1, #formulario2, #formulario3, #formulario4, #formulario5, #formulario6 {
    margin-top: 2vw;
    padding: 20px;
    background-color: rgb(136, 213, 155);
    box-shadow: 1px 1px 10px rgb(0, 0, 0);
    margin-bottom: 2vw
}

#botoesEst {
    margin-top: 2vw;
    margin-bottom: 2vw;
}

#salvar {
    background-color: rgb(90, 255, 101);
    color: black;
    border: none;
    font-weight: bold;
}