* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Titillium Web", sans-serif;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    background: rgb(167, 167, 167);
}

#titulo {
    padding: 25px;
    width: 99.2vw;
    height: 100px;
    background: rgb(255, 255, 255);
    backdrop-filter: blur(30px);
    box-shadow: 1px 1px 5px rgb(0, 0, 0);
    font-size: 20px;
}

#tituloFlex {
    display: flex;
    align-items: center;
    gap: 10px;
    justify-content: center;
}

#iconeTitulo {
    font-size: 40px;
}

.chart canvas { 
    width: 600px; 
    max-height: 600px;
}

.container, .container2, .container3 {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: row;
    padding: 50px;
    margin: auto;
    margin-top: 10vw;
    gap: 200px;
    box-shadow: 2px 2px 5px black;
    background: rgb(255, 255, 255);
    border-radius: 20px;
}

.container2 {
    width: 81vw;
}

.container3 {
    margin-bottom: 5vw;
}

.chart h3 {
    padding: 30px;
    margin-left: -1.5vw;
}

.chart p {
    padding: 30px;
    margin-top: -60px;
    margin-left: -1.5vw;
    font-size: 0.9em;
    font-weight: bold;
}

.chart span {
    font-size: 40px;
}

@media screen and (max-width: 768px) {
    body {
        flex-direction: column;
        overflow-x: hidden;        
    }

    .container, .container2, .container3 {
        flex-direction: column;
        width: 400px;
        padding: 30px;
    }
    .chart canvas { 
        margin-top: 2vw;
        width: 350px; 
        height: 350px; 
        max-height: 350px;
    }
}