/* * {
    padding:0;
    margin:0;
    vertical-align:baseline;
    list-style:none;
    border:0
}

body {
    font-family:Arial, Helvetica, sans-serif;
    font-size:12px;
    color:#333;
    background-color:#f4f4f4;

    text-align:center;

}    

/* 
  
  caption {
    caption-side: bottom;
    padding: 10px;
    font-weight: bold;
  }
  
  thead,
  tfoot {
    background-color: rgb(228 240 245);
  }
  
  th,
  td {
    border: 1px solid rgb(160 160 160);
    padding: 8px 10px;
  }
  
  td:last-of-type {
    text-align: center;
  }
  
  tbody > tr:nth-of-type(even) {
    background-color: rgb(237 238 242);
  }
  
  tfoot th {
    text-align: right;
  }
  
  tfoot td {
    font-weight: bold;
  }
   */


/* body {
   text-align: center;
} */

div {
   display: block;
}

button {
   display: block;
   padding: 10px 20px;
}

#table {
   display: block;
   margin-top: 20px;

}

table {
  border-collapse: collapse;
  border: 2px solid rgb(140 140 140);
  font-family: sans-serif;
  /* font-size: 0.8rem; */

}

th, td {
   border: 1px solid black;
   padding: 5px;
   border: 2px solid rgb(140 140 140);

}

