#aviso {
    background-color: rgb(235, 250, 250);
    padding: 20px;
    color: rgb(15, 40, 109);
    box-shadow: 2px 2px 10px rgb(25, 78, 139);
    margin-top: 5vw;
    margin-bottom: 5vw;
}

#antestitulo {
    margin-bottom: 5vw;
    
}

#titulopassos, #Segundotitulopassos {
    background-color: rgb(235, 250, 250);
    padding: 20px;
    height: auto;
    box-shadow: 2px 2px 10px rgb(127, 167, 255);
}
.manualsubtitulo {
    font-weight: bold;
    font-size: 14px;
    margin-top: -1vw;
}

#Segundotitulopassos {
    margin-top: 5vw;
}

#IMGmanual {
    margin-top: 2vw;
    width: 8vw;
}

.blocopassos {
    max-width: 1300px;
    min-width: 200px;
    width: 100%;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    margin-top: 3vw;
    gap: 5vw;
}

#passo1 {
    border: 2px solid rgb(235, 250, 250);
    box-sizing: border-box;
    padding: 25px;
    box-shadow: 2px 2px 10px rgb(127, 167, 255);
    height: 40.7vw;
    

}

#imgpasso1 {
    margin-top: 5vw;
    width: 35vw;
}

#passo2 {
    border: 2px solid rgb(235, 250, 250);
    box-sizing: border-box;
    padding: 25px;
    box-shadow: 2px 2px 10px rgb(127, 167, 255);
    height: 40.7vw;
}

#imgpasso2 {
    margin-top: 4vw;
    width: 35vw;
}

#passo3 {
    border: 2px solid rgb(235, 250, 250);
    box-sizing: border-box;
    padding: 25px;
    box-shadow: 2px 2px 10px rgb(127, 167, 255);
}


#passo4 {
    border: 2px solid rgb(235, 250, 250);
    box-sizing: border-box;
    padding: 25px;
    box-shadow: 2px 2px 10px rgb(127, 167, 255);
}

#paragrafopasso4 {
    width: 45vw;
}

#paragrafopasso3 {
    width: 40vw;
}

#IMGpasso3 {
    max-width: 1300px;
    min-width: 200px;
    margin: auto;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 10vw;
}

#IMGapp1, #IMGapp2 {
    width: 15vw;
    margin-top: 4.3vw;
    height: 30vw;
}

#IMGpasso4 {
    max-width: 1300px;
    min-width: 200px;
    margin: auto;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 10vw;
}

#IMGapp3, #IMGapp4 {
    width: 15vw;
    margin-top: 2vw;
}

#ethernet {
    border: 2px solid rgb(235, 250, 250);
    box-sizing: border-box;
    padding: 25px;
    box-shadow: 2px 2px 10px rgb(127, 167, 255);
    margin: auto;
    text-align: center;
    margin-top: 5vw;
}

#IMGethernet {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    gap: 10vw;
    margin-top: 5vw;
    margin-bottom: 5vw;
}

#IMGapp1, #IMGapp2, #IMGapp3, #IMGapp4, #ethernetimagem, #ethernetimagem, #imgpasso1, #imgpasso2, #imgpasso3 {
    box-shadow: 3px 3px 40px rgb(25, 78, 139);
    border: 3px solid rgb(25, 78, 139);
}

@media (max-width: 920px) {

    html {
        font-size: 15px;
    }

    .blocopassos {
        flex-direction: column;
        align-items: center;
        text-align: center
    }

    #passo1 p, #passo2 p {
        margin-bottom: 10vw;
    }

    #passo1, #passo2 {
        height: auto;
        margin-left: 1vw;
        text-align: center;
    }

    #imgpasso1, #imgpasso2 {
        margin-top: 60vw;
        align-items: center;
        width: 100%
    }

    #passo3 p {
        width: auto;
        text-align: center;
    }

    #passo3 {
        width: 100%;
        text-align: center;
    }

    #IMGpasso3 {
        flex-direction: column;
        margin: auto;
        margin-top: 10vw;
    }

    #IMGapp1, #IMGapp2 {
        width: 60vw;
        height: 110vw;
    }

    #passo4 p {
        width: auto;
        text-align: center;
    }
    #passo4 {
        width: 100%;
        text-align: center;
    }

    #IMGpasso4 {
        flex-direction: column;
        margin: auto;
        margin-top: 10vw;
    }

    #IMGapp3, #IMGapp4 {
        width: 60vw;
        height: 110vw;
    }

    #IMGapp1, #IMGapp2, #IMGapp3, #IMGapp4, #ethernetimagem, #ethernetimagem, #imgpasso1, #imgpasso2, #imgpasso3 {
        box-shadow: 1px 1px 25px rgb(25, 78, 139);
        border: 2px solid rgb(25, 78, 139);
        margin: auto;
    }
    
    #ethernet {
        width: 100%;
        margin: auto;
    }

    #IMGethernet {
        flex-direction: column;
    }

    #ethernetimagem, #ethernetimagem {
        margin-top: 10vw;
        width: 70vw;
    }
}