html {
    font-family: Arial, sans-serif;
    font-size: 18px;
}

body {
    margin: 0;
    padding: 0;
}

section {
    padding: 15px;
}

h2, h3, h4 {
    color: rgb(15, 40, 109)
}

hr {
    width: 100%;
    margin-top: 5vw;
    border: 1px solid rgb(115, 214, 253);
    box-shadow: 2px 2px 10px rgb(25, 78, 139);
}

.linksF {
    font-weight: bold;
    color: rgb(25, 78, 139);
    text-decoration: underline;
}

header {
    padding: 1vh;
    background-color: rgb(115, 214, 253);
    text-align: left;
    box-shadow: 2px 2px 10px rgb(25, 78, 139);
}

header div {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 20vw;
}

#imagemheader {
    width: 10vw;
    height: auto;
}

#menumanual, #menumain {
    margin: auto;
    margin-left: 91.4vw;
    font-weight: bold;
    background-color: rgb(76, 102, 151);
    color: white;
    padding: 10px;
    text-decoration: none;
    transition: 0.5s;
    border: 2px solid rgb(25, 78, 139);
    box-shadow: 2px 2px 10px rgb(25, 78, 139);
}

#menumanual:hover, #menumain:hover {
    margin: auto;
    transition: 0.5s;
    font-size: 20px;
    font-weight: bolder;
    text-decoration: underline;
    padding: 20px;
    margin-left: 90.6vw;
    border: 4px solid rgb(25, 78, 139);
}

#menumain {
    margin-left: 91.2vw;
}

#menumain:hover {
    margin-left: 90.3vw;
}

#titulo {
    font-weight: bolder;
    font-size: 50px;
}

#subtitulo {
    margin-bottom: 20px;
    margin-left: 0.4vw;
    font-size: medium;
    font-weight: bold;
}


#tituloInicial {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: rgb(235, 250, 250);
    padding: 20px;
    color: rgb(15, 40, 109);
    box-shadow: 2px 2px 10px rgb(25, 78, 139);
}

#titulesubtitulo {
    flex: 1;
    max-width: 1300px;
    min-width: 200px;
    height: auto;
}

#celular-desktop {
    height: auto;
    width: 20vw;
    margin-top: 40px;
}

#bloco1 {
    display: flex;
    justify-content: center;
    align-items: stretch;
    max-width: 1300px;
    min-width: 200px;
    gap: 10vw;
    text-align: justify;
    padding: 2vw;
    flex: 1;
    margin: 0 auto;
    margin-top: 10vh;
}

#titulo1, #titulo2 {
    text-align: center;
}

.bloco1e2 {
    flex: 1;
    background-color: rgb(235, 250, 250);
    padding: 20px;
    width: 50vw;
    height: auto;
    box-shadow: 2px 2px 10px rgb(127, 167, 255);
}
.bloco1e2 h3 {
    color: rgb(15, 40, 109)
}

#paragrafo1, #paragrafo2 {
    text-indent: 1em;
}

#bloco3 {
    max-width: 1300px;
    min-width: 200px;
    display: flex;
    align-items: flex-start;
    justify-items: left;
    gap: 20vw;
    width: 70vw;
    text-align: justify;
    margin: 0 auto;
    margin-top: 10vh;
    border: 2px solid rgb(235, 250, 250);
    box-sizing: border-box;
    padding: 25px;
    box-shadow: 2px 2px 10px rgb(127, 167, 255);
    margin-bottom: 10vw;
}

#titulo3 {
    text-align: center;
}

#comoconfig {
    flex: 1;
    max-width: 1300px;
    min-width: 200px;
    height: auto;
}

#comoconfigIMG {
    height: auto;
    width: 20vw;
    margin-top: 20px;
}

#bloco4, #bloco5 {
    max-width: 1300px;
    min-width: 200px;
    text-align: start;
    width: 55vw;
    margin-left: 1vw;
    margin-top: 4vw;
    background-color: rgb(235, 250, 250);
    padding: 20px;
    height: auto;
    box-shadow: 2px 2px 10px rgb(127, 167, 255);
}

#bloco5 ul p {
    width: 50vw;
}

#bloco5 ul {
    margin-top: 55px;
}

#paragrafo3, #paragrafo4 {
    text-indent: 1em;
}

.linkparagrafo3 {
    font-weight: bolder;
}

#paragrafolista {
    text-indent: 1em;
    text-align: start;
    width: 55vw;
}

#bloco6 {
    min-width: 200px;
    margin-right: 50vw;
    width: 100%;
    margin-top: 4vw;
    border: 2px solid rgb(235, 250, 250);
    box-sizing: border-box;
    padding: 20px;
    box-shadow: 2px 2px 10px rgb(127, 167, 255);
}

#teamviewer {
    display: flex;
    align-items: flex-start;
    justify-content: left;
    gap: 25vw;
    margin: 0 auto;
    margin-left: 2vw;
    width: 60vw;
    margin-top: 5vw;
}

#paragrafoteamviewer {
    width: 30vw;
    text-indent: 1em;
    text-align: left;

}

#teamviewerIMG{
    height: auto;
    width: 35vw;
    margin-top: 30px;
}

#parsec {
    display: flex;
    align-items: flex-start;
    justify-content: left;
    gap: 25vw;
    margin: 0 auto;
    margin-left: 2vw;
    width: 60vw;
    margin-top: 5vw;
}

#paragrafoparsec {
    width: 30vw;
    text-indent: 1em;
    text-align: left;

}

#parsecIMG{
    height: auto;
    width: 35vw;
    margin-top: 30px;
}

#google {
    display: flex;
    align-items: flex-start;
    justify-content: left;
    gap: 25vw;
    margin: 0 auto;
    margin-left: 2vw;
    width: 60vw;
    margin-top: 5vw;
}

#paragrafogoogle {
    width: 30vw;
    text-indent: 1em;
    text-align: left;

}

#googleIMG{
    height: auto;
    width: 35vw;
    margin-top: 30px;
}

footer {
    background-color: rgb(115, 214, 253);
    padding: 20px;
    text-align: left;
    font-weight: 100;
    font-size: 12px;
    position: relative;
    box-shadow: -2px -2px 10px rgb(25, 78, 139);
    margin-top: 2vw;
}


#contatofooter {
    font-weight: 100;
    text-align: left;
    position: absolute;
    top: 10px;
    right: 20px;
    padding: 10px;
}

 /* Media queries para alterar os tamanhos de forma responsiva dependendo da tela */

 @media (max-width: 920px) { 

    html {
        font-size: 15px;
    }

    #imagemheader {
        height: auto;
        width: 20vw;
    }

    #menumanual {
        margin-left: 80vw;
        padding: 5px;
    }

     #menumain {
        margin-left: 79vw;
        padding: 5px;
    }

    #menumanual:hover {
        margin-left: 78.4vw;
        font-size: 17px;
        padding: 10px;
        border: 3px solid rgb(25, 78, 139);
    }

    #menumain:hover {
        margin-left: 77vw;
        font-size: 17px;
        padding: 10px;
        border: 3px solid rgb(25, 78, 139);
    }

    #titulo {
        size: 35px;
    }

    #subtitulo {
        font-size: smaller;
        margin-top: -2.5em;
        line-height: 1.5;
    }

    #bloco1, #bloco3 {
        flex-direction: column;
        align-items: center;
    }

    #bloco4, #bloco5 {
        width: auto;
    }

    #bloco5 ul p {
        width: auto;
    }

     #comoconfigIMG {
        height: auto;
        width: 50vw;
        margin-top: -10vw;

    }

    #bloco6 {
        flex-direction: column;
        align-items: center;
        text-align: center;
        width: 100%;
    }

    #teamviewer {
        flex-direction: column;
        align-items: center;
        margin-left: 12vw;
    }

    #teamviewer p {
        text-align: justify;
        width: 100%;
    }

    #teamviewerIMG {
        height: auto;
        width: 70vw;
        margin-top: -20vw;

    }

    #parsec {
        flex-direction: column;
        align-items: center;
        margin-left: 12vw;
    }

    #parsec p {
        text-align: justify;
        width: 100%;
    }

    #parsecIMG {
        height: auto;
        width: 70vw;
        margin-top: -20vw;

    }

    #google {
        flex-direction: column;
        align-items: center;
        margin-left: 12vw;
    }

    #google p {
        text-align: justify;
        width: 100%;
    }

    #googleIMG {
        height: auto;
        width: 70vw;
        margin-top: -20vw;

    }

    footer #contatofooter {
        text-align: right;
        margin-top: 19vw;
    }

}